*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    
    background: rgb(138, 106, 106);
    height: 100vh;
    overflow: hidden;
}
img{
    width: 30%;

}
.wrapper{
    background-color: beige;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    text-align: center; /* Center the text horizontally and vertically */
    margin: auto;
    
   
}
h1{
    font-size: 40Px;
    font-weight: 600px;
    color: #445A6F;
    margin: 40px 0;

}
button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background:#548cc5 ;/* Green */
    border:1px solid #445A6F;
    color: #fff;
    font-size: 20Px;
    margin: 30px 0;
}